name: build

on:
  pull_request:
    types: [ opened, synchronize ]
  push:
    branches: [ main ]

jobs:
  test-pipeline:
    runs-on: ${{ matrix.os }}
#    container:
#      image: python:${{ matrix.python-version }}
#      options: --user 1001 # run as the runner user instead of root
    strategy:
      max-parallel: 2
      matrix:
        python-version: [ '3.8' ]
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v3 # use latest version of the checkout action

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip' # caching pip dependencies
          cache-dependency-path: poetry.lock

      - name: Install pip
        run: python -m pip install --upgrade pip

      - name: Setup Node 16
        uses: actions/setup-node@v1
        with:
          node-version: "16"

      - name: Install cdktf
        run: |
          npm install -g cdktf-cli
          cdktf --help

      - name: Install poetry and build tools
        run: |
          export PATH=$PATH:$HOME/.local/bin
          pip install --user --upgrade setuptools
          pip install --user poetry
          poetry config virtualenvs.in-project true
          poetry self add "poetry-dynamic-versioning[plugin]"

      - name: Install dependencies
        run: |
          export PATH=$PATH:$HOME/.local/bin
          make poetry

      - name: Install, lint and test
        run: |
          export PATH=$PATH:$HOME/.local/bin
          make cov

#      - name: Publish test coverage
#        uses: codecov/codecov-action@v3
#        with:
#          token: ${{ secrets.CODECOV_TOKEN }}
#          files: coverage.xml
#          fail_ci_if_error: true
